.home-container {
    width: 100%;
    padding: 4rem 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

h1 {
    color: var(--primary-color);
    font-size: 3em;
    font-family: var(--font-heading);
    font-weight: bold;
}

span {
    color: var(--quaternary-color);
    font-size: 1.2em;
    font-family: var(--font-base);
}

.home-content {
    background-color: var(--primary-color);
    width: 100%;
    padding: 1rem 4rem;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: var(--tertiary-color);
    font-family: var(--font-base);
    font-size: 1.2em;
}