@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@1&family=Work+Sans&display=swap');

:root {
  --primary-color: #264653;
  --secondary-color: #2a9d8f;
  --tertiary-color: #e9c46a;
  --quaternary-color: #f4a261;
  --quinary-color: #e76f51;

  --font-heading: 'DM Sans', sans-serif;
  --font-base: 'Work Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


